/*
Colors used:
Black: #020202
Grey: #181818
Yellow: #F6E71D
Mustard: #F5D10D
White: #FFFFFF
*/

* {
  box-sizing: border-box;
}

body {
    background-color: #181818;
    font-family: 'Merriweather', sans-serif;
    font-size: 16px;
    font-weight: 300; 
    line-height: 1.6; 
    color: #FFFFFF;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 900;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 700;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }
  
  img {
    width: 100%;
    height: auto;
  }

  a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
  }

  a:visited { 
    color: #FFFFFF;
  }

  a:active { 
    color: #F5D10D;
  }

  a:focus,
  a:hover {
    color: #F5D10D;
    font-weight: 700; 
  }

  .button{
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color:transparent;
    color: #ffffff; /* needed to override the default link color */
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    font-weight: 700;
    padding: 10px 20px 10px 20px ;
    border-radius: 50px;
    transition: 0.2s opacity;
    opacity: 1;
  }

  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    color:#020202;
    background-color: #FFFFFF;

  }
  .button.contact{
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #FFFFFF;
    color: #020202; /* needed to override the default link color */
    border-color: #020202;
    font-weight: 700;
    padding: 10px 20px 10px 20px ;
    border-radius: 50px;
    transition: 0.2s opacity;
    opacity: 1;
    margin-top: 40px;
  }
  .button.contact:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    background-color:#F5D10D;
    color:#020202;
  }

  .logo{
      max-width: 60px;
      height: auto;
  }

  header {
    background-color: #020202;
    text-align: center;
    padding-top: 25px;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    z-index: 2;

  }


.navtoggle li:not(:last-child) {
  display: none;
}


.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}


 
.navtoggle.responsive li  {
  display: block;
}    
  
    
 .navtoggle.responsive nav {
  padding: 24px 0 0;
}


.navtoggle.responsive li  {
  display: block;
  padding: 12px 0;
  border-top: 1px solid rgb(79, 122, 165);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
    

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
      color: #4a4a4a;
}

nav > ul > li > a:hover {
 color:#868B96 
}



  /* Layout styling */

  .container {
    padding: 0 15px;
  }

  .row {
    margin: 100px 0; /* 25px top and bottom, 0 left and right */
    padding: 0 15px;
  }

  #hero {
    text-align: center; /* Centers text */
    margin-bottom: 100px;
  }


  nav > ul {
    list-style-type: none;
    padding: 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
  }

  nav > ul > li > a:active {
    color: #F5D10D;
  }

  main {
    padding-top: 150px;
  }

  .about{
    text-align:center;
  }
  

  .about img{
    height: 300px;
    width: auto;
    margin-bottom: 40px;
  }



footer {
  text-align: center;
  background-color: #020202;
  padding: 20px;
  position: absolute;
  width: 100%;
}

.social-icons{
  margin-top: 20px;
  margin-bottom: 40px;
}

.social-icons svg{
   fill: #FFFFFF;
   width: 42px;
   height: auto;
   margin: 0 20px;

}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 0px;
  }
    
    
        
 .navtoggle.responsive nav {
  padding: 0px 0 0;
}
    
    nav > ul {
  list-style-type: none;
  padding: 0;
 margin: 1em 0;
}
    


    
   nav > ul > li {
  display: inline-block;
       
} 
    
     .navtoggle.responsive li  {
   padding:0px 0;
  border-top: 0px solid rgb(79, 122, 165);
}
    
    .navtoggle li:not(:last-child) {
  display: inline-block;
}
    
    .navtoggle li:last-child {
  display: none;
}
    
  

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
 

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media only screen and (min-width: 1024px) {
  .col-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-7 {width: 58.33%;}
}

@media only screen and (min-width: 1440px) {
  .col-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-7 {width: 58.33%;}
}


.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
